{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Main Review Content-->
<div id="reviews-container">
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="container">
            <hr>
            <h2 class="logo-font my-2 text-center">Reviews</h2>
            <hr>
        </div>
   </div>
</div>
</div>
{% if request.user.is_authenticated %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <a href="{% url 'write_review' %}" class=" w-25 mb-3 btn btn-dark btn-lg btn-block">Add A Review</a>
    </div>
</div>
{% endif %}
{% for review in reviews %}
<div class="my-3">
   <div class="container capitalize">
      <div class="card">
         <div class="text-center mx-2 mt-4 card-content review-card-content">
            <h4 class="card-title review-card-title">{{ review.title }}</h4>
         </div>
         <div class="card-action">
            <p class="mx-2 my-4 font-bolder">{{ review.comments }}</p>
            <p class="mx-2 my-4"><strong> Date </strong>: {{ review.date_created }}</p>
            <p class="mx-2 my-4"><strong> By </strong>{{ review.creator }}</p>
            <!--Edit/Delete Review Buttons-->
            <div class="card-action text-center mb-4">
               {% if request.user.userprofile == review.creator %}
               <a class="btn btn-dark" href="{% url 'edit_review' review.id %}"
                  aria-label="Edit review from {{ review.creator }}">Edit</a>
               <a class="btn btn-danger" href="{% url 'delete_review' review.id %}">Delete</a>
               {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endfor %}

{% endblock %}