{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!--for margin purposes-->
<div class="container-fluid">
   <div class="row">
      <div class="col text-center my-3">
      </div>
   </div>
</div>

<!--Form for users to add their own review-->
<div id="reviews-container-edit-add" class="no-floating-footer">
<div class="overlay"></div>
   <div class="container">
      <form method="POST" action="{% url 'write_review' %}" class="form card-panel">
         <h1>Add Your Review</h1>
         <p class="large-text center-align">Fill out the form below to write your own review</p>
         {% csrf_token %}
         {{ form }}
         <div class="center-align">
            <a class="btn btn-danger" href="{% url 'reviews' %}">Cancel</a>
            <button class="btn btn-success" type="submit">Add Review</button>
         </div>
      </form>
</div>
</div>
{% endblock %}