{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid py-5">
    
           
        
        
            <video playsinline autoplay muted loop poster="/media/Package.PNG" id="bgvid">
                <source src="/media/home-video.mp4" type="video/webm">
                <source src="/media/home-video.mp4" type="video/mp4">
            </video>
            <div class="overlay-text p-5">
                <p id="topText">
                    <h1 class="display-4 logo-font text-black my-5">
                    View our collections here!
                    </h1>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-light btn-outline-dark btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </p>
            </div>
</div>

<div class="my-5 pl-5">
    <h4>
        <a href="{% url 'products' %}" class="shop-now-button btn btn-light btn-outline-dark btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
    </h4>
</div>
{% endblock %}