{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Your Wishlist</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% for product in wishlist.products.all %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>

                        
                            <tr>
                                <td class="p-3 w-25">
                                    {% if product.image %}
                                        <img class="w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ product.name }}</strong></p>
                                    <p class="my-0 small text-muted">Product Code: {{ product.sku|upper }}</p>
                                </td>
                                
                                <td class="py-3">
                                    <p class="my-0">£{{ product.price }}</p>
                                </td>
                                <td>
                                <a class="text-info" href="{% url 'product_detail' product.id %}">Add to bag</a>
                                <a class="remove-list-item text-danger float-right" href="{% url 'remove_from_wishlist' product.id %}">Remove</a>
                                </td>
                            </tr>
            
                       
                    </table>
                </div>
            {% empty %}
                <p class="lead mb-5">Your wishlist is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}