html {
    height: 100%;
}

body {
    /* This is a single-line comment background: url('/media/home.png') no-repeat center center fixed; */
    background-size: cover;
    background-color: white;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Spartan', sans-serif;
}

.border-md-right {
    border-right: 1px solid white;
  }



.title-colour {
    color: inherit;
    font-size: 30px;
}

.title-colour:hover {
    color: grey;
    text-decoration: none;
}

.navbar {
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}


.pad-top {
    padding-top: 30px;
}

.free-accessory {
    border-bottom: solid 3px white;

}

.text-white {
    color: white;
}

.text-black {
    color: black; !important
}

.carousel-text {
    color: silver;
    background: black;
}


.shop-now-button:hover {
    color: grey;
}

.carousel-img {
    width: 100%;
}

