html {
    height: 100%;
}

body {
    /* This is a single-line comment background: url('/media/home.png') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: 'Spartan', sans-serif;
}

.border-md-right {
    border-right: 1px solid silver;
  }

.title {
    border-bottom: 3px solid silver;
}

.bord-top {
    border-top: 3px solid silver;
    padding-top: 30px;
}