<!--navbar for large screens -->
<div class="collapse navbar-collapse nav-height " id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active border-hover px-5">
          <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'products' %}">All Products</a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'products' %}?category=Personalised">Personalised</a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'products' %}?category=Cake">Cake Stands</a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'products' %}?category=Trays">Trays</a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'products' %}?category=Coasters">Coasters</a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'products' %}?category=Accessories">Accessories</a>
        </li>
        <li class="nav-item border-hover px-5">
          <a class="nav-link" href="{% url 'reviews' %}"><i class="fas fa-star"> </i>&nbsp;&nbsp; Reviews &nbsp;&nbsp;<i class="fas fa-star"> </i></a>
        </li>          
    </ul>
</div>