<!--navbar for large screens -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item active border-hover px-1">
          <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}">All Products</a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}?category=Vases">Vases</a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}?category=Coasters">Coasters</a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}?category=Trays">Trays</a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}?category=Cake">Cake Stands</a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}?category=Accessories">Accessories</a>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'products' %}?category=Frames">Frames</a>
        </li>
        <li class="nav-item border-hover px-1">
          <div class="dropdown">
            <button class="dropbtn nav-link">Special Occasions</button>
            <ul class="dropdown-content">
              <li><a class="dropdown-text" href="{% url 'products' %}?category=Ramadan">Ramadan</a></li>
              <li><a class="dropdown-text" href="{% url 'products' %}?category=Weddings">Weddings</a></li>
              <li><a class="" href="{% url 'products' %}?category=Baby">Baby</a></li>
              <li><a class="" href="{% url 'products' %}?category=Valentines">Valentines</a></li>
              <li><a class="" href="{% url 'products' %}?category=MumDad">Mothers/Fathers Day</a></li>
              <li><a class="" href="{% url 'products' %}?category=Christmas">Christmas</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item border-hover px-1">
          <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
        </li>          
    </ul>
</div>